<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>音源分离demo</h1>
    <form enctype='multipart/form-data' method='POST'>

        <h3>上传需要分离的音频文件</h3>
        <input type="file" name="file"><br>
        
        <h3>选择模型</h3>
        <input type="radio" name="model" value="unet">U-Net<br>
        <input type="radio" name="model" value="mmdensenet">MMDenseNet<br>

        <h3>选择Mask</h3>
        <input type="radio" name="mask" value="hard">hard<br>
        <input type="radio" name="mask" value="soft">soft<br>

        <input type="submit" value="分离">
    </form>
    <audio src="{{ url_for('static', filename='audio/mixture.wav') }}" controls="controls"></audio>mixture<br>
    <audio src="{{ url_for('static', filename='audio/bass.wav') }}" controls="controls"></audio>bass<br>
    <audio src="{{ url_for('static', filename='audio/drums.wav') }}" controls="controls"></audio>drums<br>
    <audio src="{{ url_for('static', filename='audio/other.wav') }}" controls="controls"></audio>other<br>
    <audio src="{{ url_for('static', filename='audio/vocals.wav') }}" controls="controls"></audio>vocals<br>
    <audio src="{{ url_for('static', filename='audio/accompaniment.wav') }}" controls="controls"></audio>accompaniment<br>
</body>
</html>

